.budget-tracker{
    border-collapse: collapse;
    min-width: 750px; /*optional*/

}


/* '*' targets every element inside budget tracker table*/
.budget-tracker *{
    font-family: sans-serif;
}

.budget-tracker th {
    text-align: left;
    padding: 10px 20px;
    border-bottom: 2px solid blueviolet;
}

.budget-tracker td {
    padding: 5px;
    background-color: rgb(138, 49, 223, .1);
}

.input,
.delete-entry{
    height: 30px;
    font-size: 13px;
    padding: 0 10px;
    margin: 0;
    box-sizing: border-box;
}

.input {
    border: 1px solid blueviolet;
    border-radius: 5px;
    outline: none;

}

/*when using/editing input feild*/
.input:focus{
    border-color: black;
}

.delete-entry{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    background: none;
    color: blue;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 50%;
}

.delete-entry:hover{
    background-color: rgb(180, 47, 47, .1);
}

.controls,
.summary{
    text-align: right;
}